// first scss file

body {
  padding: 0;
  margin: 0;
}

.model {
  & > h3 {
    margin: 0 0 10px 0;
  }
  padding: 30px;
  border-bottom: 1px solid #d4b2b2;
  &:last-child {
    border-bottom: none;
  }
}
