albumentations==0.2.3
Click==7.0
cycler==0.10.0
decorator==4.4.0
dnspython==1.16.0
eventlet==0.25.0
Flask==1.0.2
Flask-SocketIO==4.0.0
greenlet==0.4.15
grpcio==1.20.1
grpcio-tools==1.20.1
gunicorn==19.9.0
imageio==2.5.0
imgaug==0.2.6
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
Minetorch==0.3.5
monotonic==1.5
networkx==2.3
numpy==1.16.3
opencv-python==4.1.0.25
opencv-python-headless==4.1.0.25
pandas==0.24.2
peewee==3.9.5
Pillow==6.0.0
protobuf==3.7.1
pyparsing==2.4.0
python-dateutil==2.8.0
python-engineio==3.5.2
python-socketio==4.0.2
pytz==2019.1
PyWavelets==1.0.3
scikit-image==0.15.0
scipy==1.2.1
six==1.12.0
tensorboardX==1.6
torch==1.1.0
torchvision==0.2.2.post3
Werkzeug==0.15.2
