albumentations==0.2.2
appnope==0.1.0
asn1crypto==0.24.0
astroid==2.1.0
attrs==19.1.0
Automat==0.7.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.4
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==3.2
cssselect==1.0.3
cycler==0.10.0
decorator==4.3.2
defusedxml==0.5.0
docutils==0.14
entrypoints==0.3
Flask==1.0.2
hyperlink==18.0.0
icrawler==0.6.2
idna==2.8
imageio==2.5.0
imgaug==0.2.6
incremental==17.5.0
ipdb==0.12
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.9
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lockfile==0.12.2
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
Minetorch==0.3.4
mistune==0.8.4
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.3
notebook==6.1.5
numpy==1.16.2
opencv-python==4.1.0.25
opencv-python-headless==4.1.0.25
pandas==0.24.2
pandocfilters==1.4.2
parsel==1.5.1
parso==0.3.4
peewee==3.9.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.2.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.3.1
PyHamcrest==1.9.0
pylint==2.2.2
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyrsistent==0.14.11
python-daemon==2.2.3
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.3
queuelib==1.5.0
redis==3.2.1
requests==2.21.0
scikit-image==0.15.0
scipy==1.2.1
Scrapy==1.6.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.8
SQLAlchemy==1.3.1
tensorboardX==1.6
terminado==0.8.1
testpath==0.4.2
torch==1.0.1.post2
torchvision==0.2.2.post3
tornado==6.0.1
traitlets==4.3.2
Twisted==20.3.0
urllib3==1.24.2
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==3.4.2
wrapt==1.11.1
zope.interface==4.6.0
tqdm>=4.36.1
