/* 基础色 */
.color-red          { color: #FF6666 !important; }
.color-orange       { color: #FF951A !important; }
.color-blue         { color: #46AAFA !important; }
.color-green        { color: #00D287 !important; }
.color-white        { color: #FFF !important; }
.color-black        { color: #000 !important; }
