<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Minetorch</title>
  <meta name="renderer" content="webkit">
  <script src="{{ url_for('static', filename='main.bundle.js') }}"></script>
</head>
<body>
  {% for model in model.registed_models %}
  <div class="model">
    <h3>模型名称：{{ model.name }}</h3>
    <div class="options">
      {% for option in model.options %}
      <div class="option">
        <div class="option-name">参数名：{{ option.name }}</div>
        <div class="option-setting">参数配置：{{ option.settings }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  {% for dataset in dataset.registed_datasets %}
  <div class="dataset">
    <h3>模型名称：{{ dataset.name }}</h3>
    <div class="options">
      {% for option in dataset.options %}
      <div class="option">
        <div class="option-name">参数名：{{ option.name }}</div>
        <div class="option-setting">参数配置：{{ option.settings }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</body>
</html>
